<div class="container">
    <form action="">
        <div class="form-group">
            <div class="form-control-group">
                <label for="nombres">Nombres</label>
                <input class="form-control" type="text" name="nombres"/>
            </div>
            <div class="form-control-group">
                <label for="apellidos">Apellidos</label>
                <input class="form-control" type="text" name="apellidos"/>
            </div>
        </div>
        <button class="btn btn-warning">Editar</button>
    </form>
</div>
